* {
  box-sizing: border-box; }

#canvas canvas {
  padding-top: 20px;
  width: auto;
  height: 100vh; }

#toolbar {
  padding-top: 20px;
  background-color: grey;
  height: 100vh;
  box-shadow: 5px 5px 15px grey; }

.shadow {
  box-shadow: 5px 5px 15px grey;
  margin: 0; }
  .shadow .color-bar {
    margin-top: 12px; }

#toolbar .button:hover {
  box-shadow: 5px 5px 15px black;
  cursor: pointer; }

#toolbar .button:active {
  opacity: 0.2; }
