* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.shadow {
  box-shadow: 5px 5px 15px grey;
  margin: 0;
  .color-bar {
    margin-top: 12px;
  }
}

.aside-left {
  padding: 0;
  #toolbar-left {
    padding: 12px 0 0 0;
    background-color: grey;
    height: 100vh;
    .button-left {
      height: 60px;
      a {
        padding: 0;
        background-color: grey;
        &:active {
          background-color: darkgrey;
        }
      }
      &:hover {
        border: 4px inset darkgrey;
        border-right: 4px solid transparent;
        cursor: pointer;
      }
      &:active {
        border: 6px inset darkgrey;
        border-right: 6px solid transparent;
      }
    }
  }

  #toolbar {
    padding-top: 20px;
    background-color: darkgrey;
    height: 100vh;
    box-shadow: 5px 5px 15px grey;

    .button {
      &:hover {
        box-shadow: 5px 5px 15px black;
        cursor: pointer;
      }
      &:active {
        opacity: 0.2;
      }
    }
    #myModal {
      #palette2 {
        margin-left: 26px;
      }
    }
  }
  #toolbar2 {
    padding-top: 20px;
    background-color: darkgrey;
    height: 100vh;
    box-shadow: 5px 5px 15px grey;
    overflow: auto;
    #filepicker {
      display: none;
    }
    #listing {
      img {
        width: 100%;
        height: auto;
        padding: 0;
      }
    }
  }

}

#canvas {
  canvas {
    padding-top: 15px;
    width: auto;
    height: 100vh;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dimgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: dimgrey;
}